.education-item-display {
  display: flex;
  flex-direction: column;
}

.education-item-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.education-list {
  display: flex;
  flex-direction: column;
}

.education-item-field {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
