.education-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.education-column-container {
  display: grid;
  grid-template-columns: 1fr 200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  margin-bottom: 20px;
}

.column {
  width: 100%;
}

.education-list {
  position: relative;
  margin-bottom: 10px;
}
