.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.secondary-header-fields {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin: 20px 0px;
  height: 80px;
}

.header-field {
  margin-top: 10px;
  padding: 25px 0 9px 0;
  width: 50%;
  text-align: center;
  font-size: 22px;
}

.bar {
  border-left: thick solid #000;
}

.header-container {
  position: relative;
}
